<br />
<h1 class="text-center">Maintenance Bill</h1>
<br />
<div class="container">
  <form [formGroup]="maintainForm">
    <div class="row">
      <div class="col-2">
        <label>Year</label>
        <select formControlName="year" class="drop-down ml-md-2">
          <option value="">Select</option>
          <option *ngFor="let year of years" [value]="year.value">
            {{ year.label }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label>Month</label>
        <select formControlName="month" class="drop-down ml-md-2">
          <option value="">Select</option>
          <option *ngFor="let month of months" [value]="month.value">
            {{ month.label }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary" type="button" (click)="addField()">
          Add Field
        </button>
      </div>
    </div>
    <div formArrayName="fields" class="row" *ngFor="let field of fields.controls;let i = index;">
      <div class="row col-12 mt-2" [formGroupName]="i">
        <div class="col-3">
          Label: <input type="text" formControlName="label" />
        </div>
        <div class="col-3">
          Value: <input type="text" formControlName="value" />
        </div>
        <div class="col-3">
          <button class="btn btn-secondary" type="button" (click)="deleteField(i)">
          Delete
        </button>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" type="button" (click)="onSubmit()">
        Generate
      </button>
    </div>
  </form>
</div>